.sidenav_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // height: 100vh;
    width: min-content;
    background-color: #000000;
    .btnsContainer{
        .hamBergerMenu{
            background-color: #52BA84;
            border-radius: 0;
            color: darkslategray;
            width: 4rem;
            height: 4rem;
        }
        .greenIcon{
            color: #52BA84; 
            font-size: 25px;
        }
    } 
    .profiles_container{
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        i{
            color: #ccc;
        } 
        .greenIcon{
            color: #52BA84; 
        }
    }
}